*{margin: 0;padding: 0;}

body{
    background-image: url(./img/fondo.png) ;
    background-repeat: no-repeat ;
    background-position-y: 30vh;
    background-size: cover;
    font-size: 16px;
    
}

header{
    width: 100%;
    overflow: hidden;
    background-color: white;
    margin-bottom: 1.25em;
}

.encabezado{
    width: 90%;
    max-width: 62em;
    margin: auto;

}

header .logo {
    float: left;
    height: 13em;

}

header nav{
    float: right;
    line-height: 13em;
    padding-top: 2em;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 1.25em;
    
}
nav ul li{
    display: inline-block;
    line-height: 5em;
}

nav ul li a{
    display: block;
    padding: 0 0.625em;
    text-decoration: none;
}

header nav a{
    display: inline-block;
    color:black ;
    text-decoration: none;
    padding: 0.625em 1.25em;
    line-height: normal;
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Cormorant SC', serif;
    
}

header nav a:hover{
    background: rgb(163, 25, 82);
    border-radius: 50px;
    color: white;

}

.header2{
    position: fixed;
    height: 13em;
}

.header2 .logo{
    line-height: 13em;
    
}

.header2 nav {
    line-height: 12vh;
}

.section-inicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 70vh;

}

.container-inicio{
    margin-left: 9.375em;
    width: 50%;
}

.container-inicio h1{
    position: relative;
    font-size: 2.5em;
    font-weight: 900;
    font-family: 'Cormorant SC', serif;

}

.container-inicio p{
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    line-height: 2.5;
}

.imagen1 {
    width: 25%;
    border-radius: 500px;
}

.boton1{
    width: 30%;
    height: 1.8em;
    background-color: rgb(163, 25, 82);
    color: white;
    font-size: 1.4em;
    font-weight: 700;
    font-family: 'Cormorant SC', serif;
    border-radius: 12px;
    border-style: none;

}

.boton1 a{
    text-decoration: none;
    color: white;
}


.boton2{
    width: 30%;
    height: 1.8em;
    background-color: white;
    color:rgb(163, 25, 82); 
    font-size: 1.4em;
    font-weight: 900;
    font-family: 'Cormorant SC', serif;
    border: rgb(163, 25, 82);
    border-radius: 12px;
    border-style: solid;
}

.boton2 a{
    text-decoration: none;
    color: rgb(163, 25, 82); 
}

.descripcion {
    display: inline;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 20vh
}

.descripcion p{
    font-size: 1.5em;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;

}

@media (max-width:1200px){
    body{
        font-size: 14px;
    }
    .container-inicio{
        margin-left: -5em;
    }
}

@media (max-width: 992px){
    .imagen1 {
        width: 35%;
        margin-right: 0.5em;
    }
    .container-inicio{
        font-size: 14px;
        width: 70%;
        margin-left: 5em;
        margin-top: 3em;
    }
    .header2 nav{
        font-size: 16px;
    }
}

@media (max-width: 880px){
    .boton1,.boton2{
        width: 45%;
    }
    .container-inicio{
        margin-top: 3em;
        font-size: 12px;
    }
    .descripcion{
        font-size: 12px;
        margin-left: 2em;
        margin-right: 2em;
    }
}

@media (max-width: 716px){
    .imagen1{
        display: none;
    }
    .container-inicio{
        margin: 0;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        width: 90%;
    }
    .boton1, .boton2{
        margin-top: 1.5em;
    }
    .header2{
        width: 100%;
        text-align:center;
        margin-top: -55px
    }
    .logo{
        width: 100%;
        text-align:center;
    }
    .header2 nav{
        width: 100%;
        text-align: center;
        margin-top: -100px;
        font-size: 15px;
    }
    .container-inicio{
        margin-top: 5em;
    }
    .descripcion{
        font-size: 12px;
    }
}

@media (max-width: 564px){
    .container-inicio{
        font-size: 11px;
    }
    .descripcion{
        font-size: 10px;
    }
}

@media (max-width: 443px){
    .container-inicio{
        font-size: 9px;
    }
    .descripcion{
        font-size: 10px;
    }
}